#BN{display: flex;
    justify-content: center;
}
#IN{display: flex;
    justify-content: center;
}
#TXQ{display: flex;
    justify-content: center;
}
#TXC{display: flex;
    justify-content: center;
}
#BNK{display: flex;
    justify-content: center;
}
#TXJ{display: flex;
    justify-content: center;
}
#TXH{display: flex;
    justify-content: center;
}
#TXP{display: flex;
    justify-content: center;
}
#BNY{display: flex;
    justify-content: center;
}
#TXF{display: flex;
    justify-content: center;
}
#TXÇ{display: flex;
    justify-content: center;
}
#TXU{display: flex;
    justify-content: center;
}
#TXX{display: flex;
    justify-content: center;
}
#BNP{display: flex;
    justify-content: center;
}


